@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.background-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.background-text-p
{
    font-size: 300px;
    margin: 0;
    text-align: center;
    z-index: inherit;
    text-shadow: 12px 17px 0px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 1;

}