@use "./main.scss";

//contianer styles
.header-container {
  
  margin-top: 20px;
}

.buttons-container {
  font-family: main.$font;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
