@use "./main.scss";

//vars
$header-margin: 20px;

//contianer styles
.header-container {
  margin-bottom: $header-margin;
  margin-top: $header-margin;
}

.buttons-container {
  font-family: main.$font;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
