
//at 900 ish width, the picture and card should become flex column
.headshot {
    width: 100%;
    max-width: 40vw; /* This is the maximum width of the div */
    height: 600px; /* Fixed height of the div */
    position: relative; /* Allows absolute positioning of the child img */
    overflow: hidden; /* Ensures no part of the image spills outside the div */
}

.headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the image cover the div */
    position: absolute; /* Positions the image absolutely within the div */
}


@media screen and (max-width: 600px) 
{
    .headshot {
        width: 100%;
        max-width: 90vw; /* This is the maximum width of the div */
        height: 400px; /* Fixed height of the div */
        position: relative; /* Allows absolute positioning of the child img */
        overflow: hidden; /* Ensures no part of the image spills outside the div */
    }
    
    .headshot img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This makes the image cover the div */
        position: absolute; /* Positions the image absolutely within the div */
    }
    
}

@media screen and (max-width: 480px) 
{
    .headshot {
        width: 100%;
        max-width: 90vw; /* This is the maximum width of the div */
        height: 300px; /* Fixed height of the div */
        position: relative; /* Allows absolute positioning of the child img */
        overflow: hidden; /* Ensures no part of the image spills outside the div */
    }
    
    .headshot img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This makes the image cover the div */
        position: absolute; /* Positions the image absolutely within the div */
    }
    
}



