.headshot-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 600px) 
{
    .headshot-elements
    {
        flex-direction: column;
        gap: 20px;
    }

}


